extends ../layout

include ../partials/editor

block content
    .row
        .col
            .card
                .card-header New Screen
                .card-body
                    form.form.needs-validation(method="POST" action="/screen" novalidate)
                        input(type="hidden"  name='_csrf' value=csrfToken )
                        include ./_form.pug

append scripts
    script(src='/javascripts/validator.js')
