head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1 shrink-to-fit=no")
    meta(name="description",content="Samsara Engine")
    meta(name="author",content="Dave Kapell")
    link(rel="icon",href="/images/samsara-favicon.png")
    title= title
    block styles
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,400i,700,700i")
        link(rel='stylesheet' href='https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css')
        link(rel='stylesheet' href='https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css')
        link(rel='stylesheet' href='https://cdn.datatables.net/fixedheader/3.1.8/css/fixedHeader.dataTables.min.css')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css')
        link(rel="stylesheet" href='/stylesheets/select2-bootstrap4.min.css')
        link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/style.css')
