extends ../../layout

include ../../partials/editor

block content
    .row
        .col-sm-8.offset-sm-2
            .card
                .card-header= 'Edit Game: ' + game.name
                .card-body
                    form.form.needs-validation(method="POST" action="/admin/game/" + game.id novalidate)
                        input(type="hidden", name="_method",  value="PUT")
                        input(type="hidden", name='_csrf',value=csrfToken)
                        input(type="hidden", name='game[id]',value=game.id)
                        include ./_form.pug

append scripts
    script(src='/javascripts/validator.js')
