#main-content {
    margin-top:69px;
}

.chat-message:hover,
.chat-report:hover{
    background-color:#2c2c2c;
}
.message-selected{
    background-color:#404040;
}
.message-selected:hover{
    background-color:#292929;
}
.chat-staff-message{
    color: #00bc8c;
}

#sidebar-right {
    border-left:  4px solid #404040;
}
#sidebar-left {
    border-right:  2px solid #404040;
}
.no-border {
    border:  none !important;
}
#show-chat-chevron, #chat-hide{
    color: red;
}
